@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #535353;
    font-family: "Courier New", serif;
}

p {
    font-size: 11pt;
    line-height: 1.35;
}

#etchelizer-svg path {
    cursor: pointer;
}